@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* global parameters */
:root {
    --black: #000;
    --white: #fff;
    --green: #47ff63;
    --lightblue: #e9fcff;
    --skyblue: #edffe3;
    --primary: #ff6347; /* tomato */
    --secondary: #ff3814;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
a {
    color: var(--white);
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
li {
    list-style: none;
}
.container {
    max-width: 80%;
    margin: auto;
}
/* mobile view */
#site-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "section"
                         "footer";
}
/* header section #df3d46 #de6133 */
#header {
   grid-area: header;
   background: var(--primary);
}
.logo h1 {
    display: inline-block;
    color: var(--white);
    font-size: 3rem;
    margin: 0.95rem 0;
}
/* navigation bar */
#navbar {
    grid-area: nav;
    background: var(--primary);
}
/* hamburger icon */
.nav-toggle {
    position: absolute;
    top: 2.2rem;
    right: 10%;
    width: 3rem;
    height: 2rem;
    opacity: 0;
    z-index: 1;
}
.nav-toggle:hover {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.hamburger {
    position: absolute;
    top: 2.2rem;
    right: 10%;
    width: 3rem;
    height: 2rem;
}
.line {
    position: relative;
    top: 0.75rem;
    background: #fff;
    border-radius: 1rem;
    width: 2rem;
    height: 0.3rem;
    transition: transform 800ms ease, width 400ms ease;
}
.line::before,
.line::after {
    content: '';
    position: absolute;
    top: -0.65rem;
    width: 3rem;
    height: 0.3rem;
    background: inherit;
    border-radius: inherit;
}
.line::after {
    top: 0.75rem;
    width: 2.5rem;
    transition: width 400ms ease;
}
.nav-toggle:hover + .hamburger .line,
.nav-toggle:hover + .hamburger .line::before,
.nav-toggle:hover + .hamburger .line::after {
    width: 3rem;
}
.nav-toggle:checked + .hamburger .line,
.nav-toggle:checked + .hamburger .line::before,
.nav-toggle:checked + .hamburger .line::after {
    width: 3rem;
}
/* navigation links */
.nav-links {
    display: none;
}
#navbar .nav-toggle:checked + .hamburger .line {
    transform: rotate(135deg);
}
#navbar .nav-toggle:checked + .hamburger .line::before,
#navbar .nav-toggle:checked + .hamburger .line::after {
    top: 0;
    transform: rotate(90deg);
}
#navbar .nav-toggle:checked:hover + .hamburger .line {
    transform: rotate(315deg);
}
#navbar .nav-toggle:checked ~ .nav-links {
    display: block;
}
.nav-links a {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 10%;
    transition: background 500ms ease-in-out;
}
.nav-links a:hover,
.nav-links a:focus {
    background: var(--secondary);
}
/* profile area */
#profile {
    grid-area: main;
    margin-bottom: 5rem;
    background: url('img/technology.jpg');
    background-size: cover;
}
.profile-items {
    margin: 10rem 0;
}
.dp {
    width: 10rem;
    height: 10rem;
    background: var(--primary);
    border-radius: 10rem;
    margin: auto;
}
.name {
    color: var(--white);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}
.btn-profile {
    display: flex;
    justify-content: center;
}
.btn-profile a {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white);
    padding: 1rem;
    border: 0.2rem solid;
    border-radius: 3rem;
}
.btn-profile a:hover {
    color: var(--secondary);
    background: var(--white);
    border: 0.2rem solid var(--white);
    cursor: pointer;
}
/* about section */
.section {
    grid-area: section;
    margin-top: 5rem;
}
.about {
    display: flex;
    flex-direction: column;
    color: var(--black);
    background: var(--lightblue);
    padding: 1rem;
    border: 0.2rem solid var(--lightblue);
    border-radius: 1rem;
}
.about h2 {
    color: var(--primary);
    font-size: 1.5rem;
    margin: 2rem 3rem;
}
.about h3 {
    font-size: 2.5rem;
    margin: 2rem 3rem;
}
.about p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 3rem;
    opacity: 70%;
}
.about a {
    color: inherit;
}
.about a:hover {
    color: var(--secondary);
}
/* skills frame */
.skills {
    color: var(--black);
    background: var(--skyblue);
    margin: 10rem 0;
    padding: 1rem;
    border-radius: 1rem;
}
.skills h2 {
    font-size: 1.5rem;
    color: var(--primary);
    text-align: center;
    margin: 2rem;
}
.frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
}
.frame div {
    width: 20rem;
    height: 20rem;
    margin: 1.5rem;
    position: relative;
    transition: transform 500ms ease-in-out;
}
.frame div:hover {
    transform: scale(0.9);
}
.frame i {
    font-size: 20rem;
    color: var(--green);
}
.frame span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20rem;
    opacity: 50%;
    transition: opacity 500ms ease-in-out;
}
.frame span:hover {
    opacity: 0%;
}
/* footer */
.footer {
    grid-area: footer;
    background: var(--primary);
    height: 20rem;
    position: relative;
}
.footer-items {
    color: #fff;
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-items h2 {
    font-size: 1.75rem;
}
.footer-items h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-footer a {
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem;
    border: 0.1rem solid var(--white);
    border-radius: 3rem;
}
.btn-footer a:hover {
    color: var(--primary);
    background: var(--white);
    cursor: pointer;
}
.copy {
    font-size: 1.2rem;
    font-weight: bold;
}
/* scroll top arrow */
.arrow {
    position: absolute;
    bottom: 21rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.1rem;
    border: 0.1rem solid var(--primary);
    border-radius: 10rem;
    color: var(--primary);
}
.arrow:hover {
    color: var(--white);
    background: var(--primary);
}
.arrow i {
    font-size: 2.7rem;
}

/* desktop view */
@media screen and (min-width: 426px) {
    #site-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "header nav"
                             "main main"
                             "section section"
                             "footer footer";
    }
    .hamburger {
        display: none;
    }
    .nav-toggle {
        z-index: -1;
    }
    #navbar {
        background: var(--primary);
    }
    .nav-links {
        display: block;
        margin: 1.85rem 10% 1.85rem 30%;
    }
    .nav-links ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links a {
        display: block;
        font-size: 1.5rem;
        padding: 0.2rem 0rem;
        position: relative;
    }
    .nav-links a::after {
        position: absolute;
        top: 2.3rem;
        left: 0;
        content: '';
        background: var(--white);
        border-radius: 2.5rem;
        width: 100%;
        height: 0.2rem;
        transform: scaleX(0);
        transition: transform 400ms ease;
    }
    .nav-links a:hover::after,
    .nav-links a:focus::after {
        transform: scaleX(1);
    }
    .nav-links a:hover,
    .nav-links a:focus {
        background: none;
    }
    .footer {
        height: 10rem;
    }
    .footer-items {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .arrow {
        bottom: 12rem;
        right: 2rem;
    }
}
